@import url('https://fonts.googleapis.com/css2?family=Inter&family=Lato&display=swap');

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #474747;
    -box-shadow: inset 0 0 6px #474747;
  }

  html {
    scroll-behavior: smooth;
  }

body {
    background-color: #202020;
    font-family: "Lato", sans-serif;
    color: whitesmoke;
}

.body-sumcup {
   background-image: url(photos/mle_sezon2_baner.png);
   background-size: cover;
   -webkit-backdrop-filter: blur(7px);
   backdrop-filter: blur(7px);
}

.body-votemvp {
  background-image: url(photos/champions_baner.png);
  background-size: cover;
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
}

main {
    height: 600px;
    display: grid;
    place-items: center;
    padding: 20px;
    transition: 0.2s;
    margin: 0;
}

.main2 {
  height: 800px;
  display: grid;
  place-items: center;
  padding: 20px;
  transition: 0.2s;
  margin: 0;
}

hr {
  width: 300px;
  height: 2px;  
  background-color: #796d5c;  
  border: none;
}

.title .smcup {
  margin-top: 200px;
  font-size: 72px;
  color: white;
}

.titlechamp {
  text-align: center;
  margin-top: 200px;
}

.titlechamp h1 {
    font-size: 72px;
    text-shadow: 0px 4px 4px #282828;
    text-align: center;
}

.title h1 {
    font-size: 48px;
    text-shadow: 0px 4px 4px #282828;
    text-align: center;
}

.title h2 {
  font-size: 22px;
  text-shadow: 0px 4px 4px #282828;

}

.title h4 {
    font-size: 38px;
    margin-top: 0px;
}

.title h5 {
    font-size: 28px;
    margin-top: 0px;
}

.title a {
    color: whitesmoke;
    transition: 0.2s;
    text-decoration: underline;
}

.title a:hover {
    color: #a51af6;
    transition: 0.2s;
}

.title {
    max-width: 800px;
    display: grid;
    /* place-items: center; */
    padding: 30px;
    margin-top: 100px;
}

.title h3 {
  margin-left: -20px;
  color: #796d5c;
  font-size: 170%;
}

.titlechamp h3 {
  margin-left: -20px;
  color: #796d5c;
  font-size: 170%;
}

.title li {
  font-size: 130%;
}

.logo {
  display: grid;
    place-items: center;
    height: 10px;
    margin-top: -20px;
    margin-right: 00px;
}

.logo img {
    height: 200px;
}

header {
  background-color: rgb(73, 73, 73);
  height: 500px;
  position: relative;
  background-image: url(tlo.jpg);
  background-size: cover;
  background-position: center;
  transition: 0.4s;
  margin-bottom: -100px;
  margin-top: 200px;
  margin-left: -10px;
  margin-right: -8px;
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 1);
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(photos/mle_sezon2_baner.png);
  filter: brightness(50%);
  filter: blur(7px);
  background-size: cover;
  display: flex;
}

.hero-bg2 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(photos/mvpsezon1nominate.png);
  filter: brightness(50%);
  filter: blur(7px);
  background-size: cover;
background-position: center;
  /* background-size: contain; */
  display: flex;
}

.hero-bg3 {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(photos/champions_baner.png);
  filter: brightness(50%);
  filter: blur(7px);
  background-size: cover;
background-position: center;
  /* background-size: contain; */
  display: flex;
}

.head-text{
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: left;
  color: #ddd;
  text-shadow: 3px 3px 5px #000;
  width: 650px;
}

.head-text span {
  text-transform: uppercase;
  color: #a51af6;
}

.head-text span .sp-gold {
  color: #796d5c;
}

header h1 {
  transition: 0.4s;
  font-size: 72px;
}

header:hover h1 {
  transform: scale(1.05);
  transition: 0.4s;
}

header p {
  font-size: 18px;
}

header a {
  color: whitesmoke;
  transition: 0.2s;
}

header a:hover {
  color: #a51af6;
  transition: 0.2s;
}

.vt-link:hover {
  color: #796d5c;
}

button, .vt-mvp {
	margin: auto;
	border-radius: 20px;
  background: rgba(104, 104, 104, 0.6);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5.2px);
  -webkit-backdrop-filter: blur(5.2px);
	width: 250px;
	height: 70px;
	font-size: 32px;
  color: #252525;
	border: none;
  transition: 0.3s;
}

button:hover {
	border: none;
  background-color: rgba(165, 26, 246, 0.8);
	opacity: 1;
	color: #d8d8d8;
  transition: 0.3s;
  cursor: pointer;
}

button .vt-mvp:hover {
  border: none;
  background-color: rgba(121, 109, 92, 0.8);
	opacity: 1;
	color: #d8d8d8;
  transition: 0.3s;
  cursor: pointer;
}

.title-button {
  width: 100%;
  float: left;
  margin-top: 40px;
}





@media (max-width: 800px) {
    main {
        height: 600px;
    }

    .logo {
        margin-right: 0px;
    }

    .title h1 {
        margin-top: 80px;
    }

    .title h4 {
        margin-top: -20px;
    }
    
    .title h5 {
        margin-top: -20px;
    }

    header h1 {
      font-size: 36px;
    }

    header p {
      font-size: 16px;
    }

    .head-text {
      width: 300px;
    }

    footer {
      margin-right: 0px;
    }

    .title .smcup {
      margin-top: 200px;
      font-size: 48px;
    }
    .title h2 {
      font-size: 18px;
    }

}

a {
    text-decoration: none;
}




/* jakiś fancy footer */

footer {
    left: 0px;
    bottom: 0px;
    width: 100%;
    background: rgba(20, 20, 20, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5.2px);
    -webkit-backdrop-filter: blur(5.2px);
    padding-top: 60px;
    position: relative;
    z-index: 1;
    margin-top: 300px;
  }
  
  section.top > img {
    height: 50px;
    margin: 0 auto 50px;
  }
  
  section {
    position: relative;
    margin: 0 30px;
  }
  
  section.top {
    display: grid;
    border-bottom: 2px solid rgb(255 255 255 / 20%);
    padding-bottom: 20px;
  }
  
  section.bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column-reverse;
    gap: 8px;
    padding: 20px 0;
    text-align: center;
  }
  
  section.top .links {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    margin-bottom: 36px;
  }
  
  .links-column {
    display: grid;
    gap: 10px;
    text-align: center;
  }
  
  section h2 {
    margin: 0 0 10px;
    font-size: 18px;
    font-weight: 400;
    color: #a51af6;
    text-shadow: 0px 1px 2px #282828;
  }
  
  section p {
    margin: 0;
  }
  
  .legal > a {
    margin: 0 0 0 4px;
  }
  
  .legal,
  .copyright {
    font-size: 12px;
  }
  
  .legal > span {
    margin-right: 10px;
  }
  
  section.top .socials {
    position: absolute;
    left: 50%;
    bottom: 10px;
    translate: -50% 0;
    display: flex;
    align-items: center;
    gap: 12px;
    height: 56px;
  }
  
  section.top .socials > a {
    font-size: 20px;
    background: rgb(165 26 246 / 25%);
    color: var(--color-title);
    width: 36px;
    height: 36px;
    display: grid;
    place-items: center;
    border-radius: 50%;
  }
  
  .socials-column :is(h2, p) {
    display: none;
  }
  
  @media (width > 400px) {
    .links-column {
      text-align: left;
    }

    .links-column a {
        color: whitesmoke;
    }
  
    section.top .links {
      grid-template-columns: repeat(2, 1fr);
      margin-right: 50px;
    }
  
    section.bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-direction: row;
      gap: 20px;
      text-align: left;
    }
  
    section.top .socials {
      left: 0;
      translate: 0;
    }
  
    section.top > img {
      margin: 0 0 50px;
    }
  }
  
  @media (width >= 640px) {
    section {
      margin: 0 auto;
      max-width: 580px;
      padding: 0;
    }
  
    section.top .links {
      grid-template-columns: repeat(3, 1fr);
    }
  
    section.top .socials {
      position: static;
    }
  
    section.bottom {
      justify-content: flex-start;
    }
  
    .socials-column :is(h2, p) {
      display: block;
    }
  }
